@model List<Test_Program.Models.Customer>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Company:</h4>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- Lists all customers in a table -->
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>